{% extends 'base.html' %}
{% block content %}

<section class="mb-4" style="margin-left:20px">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Edit</h2>
    <!--Section description-->

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form action="{% url 'phonebook:alter' %}" method="post">
                {% csrf_token %}

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="firstName" name="firstName" class="form-control" value="{{contact.firstName}}">
                            <label for="firstName" class="">First Name</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="lastname" name="lastName" class="form-control" value="{{contact.lastName}}">
                            <label for="lastName" class="">Last Name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>

                <br>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">

                        <div class="md-form mb-0">
                            <input type="text" id="mobileNumber1" name="mobileNumber1" class="form-control" value="{{contact.mobileNumber1}}"></input>
                            <label for="mobileNumber1">Mobile Number</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <br>
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" value="{{contact.email}}">
                            <label for="email" class="">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" value="{{contact.dateOfBirth}}">
                            <label for="dateOfBirth">Date of Birth</label>
                        </div>
                    </div>
                </div>

                <div class="text-center text-md-left">
                    <input type="submit" value="Update">
                    <div class="status"></div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}