{% extends 'base.html' %}

{%block content%}
<div class="row" style="margin-left:5px">
    {% for contact in contacts  %}
    <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-header">
                {{ contact.firstName}} {{contact.lastName}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Mobile Number : {{contact.countryCode1}} {{contact.mobileNumber1}}</h5>
                <p class="card-text">Email : {{contact.email}}<br/>
                    Date Of Birth : {{contact.dateOfBirth}}</p>
                <!-- <a href="" class="btn btn-primary btn-sm">Edit</a> -->
            </div>
        </div>
        <br/>
    </div>
    {% endfor %}
</div>
{% endblock%}